@charset "UTF-8";
@import"//fonts.googleapis.com/earlyaccess/droidarabickufi.css";
@import"//fonts.googleapis.com/css?family=Roboto:400,700";
@import"https://use.fontawesome.com/releases/v5.0.10/css/all.css";

body{
    background-color: #172938;
    font-family: Roboto,Droid Arabic Kufi,roboto_bold,sans-serif;
    text-align: right;
    background: url(../images/bg.jpg) fixed no-repeat
}
a {
    text-decoration: none;
    outline: 0;
    -webkit-transition: .2s color ease;
    transition: .2s color ease;
}
a:hover{
    text-decoration: none;
    outline: 0;
    -webkit-transition: .2s color ease;
    transition: .2s color ease;
}
ul, li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.container {
    min-height: 48px;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    direction: rtl
}
.navBg{
    z-index: 200;
    box-shadow: 0 0 45px 0 rgba(0,0,0,.2);
    background-color: #000;
}
.navBg .navbar-brand {
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    line-height: 40px;
    -webkit-transition: .35s background-color ease;
    transition: .35s background-color ease;
    padding: 0 10px;
}
.navBg .navbar-brand img:hover{
  -webkit-filter: invert(.2);
  filter: invert(.2);
}
.navbar-search{
    position:relative;
}
.navbar-search input{
    background-color: #28445b;
    color: #fff !important;
    border:none;
    height:24px;
    width:175px;
    max-width:250px;
    border-radius:24px;
    padding:7px 15px 7px 35px;
    line-height:10px;
    font-weight:500;
    direction:rtl;
    -webkit-transition:.35s max-width ease,.35s background-color ease,.35s color ease;
    transition:.35s max-width ease,.35s background-color ease,.35s color ease
}
.navbar-search input::-webkit-input-placeholder{
    color:#fff;
    font-weight:500;
    -webkit-transition:.35s color ease;
    transition:.35s color ease;
}
.navbar-search input:-moz-placeholder{
    color:#fff;
    font-weight:500;
    transition:.35s color ease;
}
.navbar-search input::-moz-placeholder{
    color:#fff;
    font-weight:500;
    transition:.35s color ease;
}
.navbar-search input:-ms-input-placeholder{
    color:#fff;
    font-weight:500;
    transition:.35s color ease;
}
.navbar-search input:focus{
    background-color:#fff!important;
    border: 1px solid #ccc;
    font-weight:500;
    color: #000 !important;
    width:250px;
}
.navbar-search input:focus::-webkit-input-placeholder{color:#999}
.navbar-search input:focus:-moz-placeholder,.navbar-search input:valid:-moz-placeholder{color:#999}
.navbar-search input:focus::-moz-placeholder,.navbar-search input:valid::-moz-placeholder{color:#999}
.navbar-search input:focus:-ms-input-placeholder,.navbar-search input:valid:-ms-input-placeholder{color:#999}
.navbar-search button{
    background: transparent;
    border: none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:24px;
    height:24px;
    color:#777 !important;
    font-size:12px;
    padding-left:7px;
    -webkit-transition:.35s color ease,.24s opacity ease;
    transition:.35s color ease,.24s opacity ease
}
.navbar-search button:hover{opacity:.5}
.navbar-search button:before{content:'\f002';font-family:FontAwesome}
.navbar-language {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    direction: ltr;
}
.navbar-language li:not(:last-child) {
    margin-right: 7px;
}
.navbar-language a {
    display: block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background:#eee;
}
.navbar-language a:hover {
    box-shadow: 0 0 0 4px rgba(255,255,255,.24);
}
.navbar-language img {
    margin:auto;
    width: 25px;
    height: 25px;
    margin: 5px;
    -webkit-transition: .35s box-shadow ease;
    transition: .35s box-shadow ease;
}
.navigation {
    z-index: 200;
    position: relative;
}
.navigation .container {
    padding: 0 5px;
    position: relative;
    background-color: #28445b;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.navigation-list>li {display: inline-block;vertical-align:middle}
.navigation-list>li>a {
    display: block;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    line-height: 48px;
    -webkit-transition: .35s background-color ease;
    transition: .35s background-color ease;
    padding: 0 10px
}
.navigation-calendar {
	background-color: #172938;
	-webkit-transition: .35s background-color ease;
	transition: .35s background-color ease;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	height: 48px
}
.navigation-calendar:hover {background-color: #142431}
.navigation-calendar li a{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    line-height: 40px;
    padding: 0 13px
}
.navigation-calendar li:first-child a:before,.navigation-calendar li:last-child a:before,.navigation-calendar li:first-child a:after,.navigation-calendar li:last-child a:after {
    -webkit-transition: .35s -webkit-transform ease;
    transition: .35s -webkit-transform ease;
    transition: .35s transform ease;
    -webkit-transition: .35s -webkit-transform ease,.35s -webkit-transform ease;
    transition: .35s transform ease,.35s -webkit-transform ease
}

.navigation-calendar li:first-child a {padding-left: 12px}

.navigation-calendar li:last-child a {padding-right: 12px}

.navigation-calendar li:first-child a:before {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 5px
}

.navigation-calendar li:first-child a:hover:before {
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px)
}

.navigation-calendar li:last-child a:after {
    content: '\f104';
    font-family: FontAwesome;
    margin-right: 5px
}

.navigation-calendar li:last-child a:hover:after {
    -webkit-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    transform: translateX(-4px)
}
.navigation-calendar li:nth-child(2) a {
    height:24px;
    line-height:24px;
    border-radius:24px;
    background-color:#25a9fe;
    font-size:14px;
    -webkit-transition:.35s background-color ease,.35s color ease;
    transition:.35s background-color ease,.35s color ease;
    text-shadow:0 1px 2px rgba(0,0,0,.2);
    padding:0 15px;
}
.navigation-calendar li:nth-child(2) a:hover {
    background-color:#018de8;
}
.navbar-live,.navbar-timezone {
    color:#fff;
    direction:ltr;
    text-transform:uppercase;
    font-weight:700;
    font-size:15px;
}
.navbar-live {
    position:relative;
    display:flex;
    -webkit-align-items:center;
    -ms-flex-align:center;
    -webkit-box-align:center;
    align-items:center;
    -webkit-transition:.24s color ease;
    transition:.24s color ease;
}

.navbar-live:hover {
color:#d0021b;
}

.navbar-live:before,.navbar-live:after {
    content:'';
    display:block;
    background-color:#d0021b;
    width:10px;
    height:10px;
    border-radius:50%;
}

.navbar-live.off:before,.navbar-live.off:after {
    background-color:#797979;
}

.navbar-live:before {
    margin-right:5px;
}

.navbar-live:after {
    position:absolute;
    top:calc(50%-5px);
    -webkit-animation:live 1.66s ease-out infinite;
    animation:live 1.66s ease-out infinite;
}

.navbar-live.off:after {
    position:absolute;
    left:0;
    top:calc(50%-5px);
    -webkit-animation:none;
    animation:none;
}

.navbar-live span {
    margin-left:5px;
}

.navbar-live span:before {
    content:'(';
}

.navbar-live span:after {
    content:')';
}
.navigation-list>li{
    display:inline-block;
    vertical-align:middle
}
.navigation-list>li>a{
    display:block;
    text-align:center;
    font-weight:700;
    color:#fff;
    font-size:13px;
    line-height:48px;
    -webkit-transition:.35s background-color ease;
    transition:.35s background-color ease;
    padding:0 15px
}
.navigation-list>li>a:hover{
    background-color:rgba(0,0,0,.15)
}
.calendar-heading {
    color: #172938;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: 3px solid #172938;
}
.calendar-filter {
    background-color: #1c2e3c;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 15px 15px 5px 15px;
    margin:5px 0;
    border-radius: 3px;
}
.calendar-buttons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.calendar-buttons > li > div, .calendar-buttons > li > a, .calendar-navigation a, .calendar-buttons select, .calendar-navigation select, .calendar-buttons input {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    line-height: 33px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #f2f0f1;
    background-color: #fff;
    color: #162737;
    font-size: 13px;
    -webkit-transition: .2s color ease,.2s background-color ease;
    transition: .2s color ease,.2s background-color ease;
}
.calendar-live a {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: .24s color ease;
    transition: .24s color ease;
}
.calendar-buttons a, .calendar-buttons select {
    border-radius: 3px;
    padding: 0 10px;
    max-height: 35px;
}
.calendar-live a::after {
    left: auto;
    right: 10px;
}
.calendar-live a::after {
    position: absolute;
    right: 15px;
    top: -webkit-calc(50% - 5px);
    top: calc(50% - 5px);
    -webkit-animation: live 1.66s ease-out infinite;
    animation: live 1.66s ease-out infinite;
}
.calendar-live a::before, .calendar-live a::after {
    content: '';
    display: block;
    background-color: #d0021b;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.calendar-live a::before {
    margin-left: 5px;
    margin-right: 5px;
}
time .calendar-league-time {
    line-height: 1.6;
    font-size: 12px;
    margin-left: 10px;
    -webkit-flex: 0 0 45px;
    -ms-flex: 0 0 45px;
    -webkit-box-flex: 0;
    flex: 0 0 45px;
}
.clickable-row td{
    line-height: 30px;
}
.clickable-row{
    cursor: pointer;
}
.clickable-row img {
    width: 30px;
    height: 30px;
}
img {
    max-width: 100%;
    box-sizing: content-box;
}
.livescore-timer {
    position: relative;
    height: 28px;
    width: 26px;
}
.livescore-timer span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -2px;
    font-size: 10px;
    line-height: 26px;
    text-align: center;
    color: #c9193b;
    padding-left: 2px;
    font-weight: 700;
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}
a.calendar-league-watch {
    color: #d42218;
    -webkit-transition: .35s opacity ease;
    transition: .35s opacity ease;
}
a.calendar-league-watch img {
    margin-left: 10px;
    width: 18px;
    height: 18px;
}
.match-details {
    background-image: url(https://images.elbotola.com/images/match-detail-stadium.jpg);
    background-size: cover;
    width: 100%;
    min-height: 305px;
    position: relative;
    background-position: 50% 100%;
    margin-right: 0px;
    margin-left: 0px;
}
.match-details-rightside, .match-details-middle, .match-details-leftside {
    margin-top: 33px;
    text-align: center;
    -webkit-flex-basis: 33.3%;
    -ms-flex-preferred-size: 33.3%;
    flex-basis: 33.3%;
    position: relative;
}
.match-details-fanion {
    margin: 0 auto;
    width: 130px;
}
.match-details-fanion img {
    width: 100%;
}
.match-details-teamname {
    margin-top: 8px;
    color: #fff;
}
.match-details-middle {
    margin-top: 60px;
}
.match-details-middle__round {
    background-color: #fff;
    color: #28465e;
    border-radius: 10px;
    font-size: 18px;
    height: 23px;
}
.match-details-scoreplaceholder {
    font-family: Tahoma;
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    margin: 0 25px;
}
.match-details-scoreseparator {
    font-size: 75px;
    font-weight: 700;
    color: #fff;
    vertical-align: text-bottom;
    font-family: sans-serif;
    line-height: 90px;
}
.match-details-matchstatus {
    display: inline-block;
    color: #fff;
    border-radius: 33px;
    background-color: rgba(0,0,0,.45);
    font-size: 14px;
    text-shadow: -1px 0 1px rgba(35,31,32,.75);
    padding: 4px 18px 2px;
}
.match-details__bottom-container {
    padding-top: 25px;
    height: 50px;
}
.match-details__timeline-wrapper {
    direction: ltr;
    height: 5px;
    width: 100%;
    background-color: rgba(242,242,242,.4);
    padding: 0 60px;
}
.match-details__timeline-progress {
    height: 5px;
    position: absolute;
    background: #36b7ea;
    left: 0;
}
.match-details__timeline-bar {
    width: 100%;
    position: relative;
}
.match-details__timeline-large-pill {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background-color: #36b7ea;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 34px;
    top: -14px;
    font-family: Tahoma;
}
.match-details__general-infos {
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;
    position: relative;
    top: 25px;
    padding: 0 23px;
    box-shadow: 0 0 8px grey;
    line-height: 50px;
    height: 50px;
}
.match-details__timeline-progress-minute {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    font-size: 9px;
    line-height: 22px;
    color: #fff;
    position: absolute;
    right: 0;
    top: -9px;
    text-align: center;
    background-color: #36b7ea;
    z-index: 10;
}
.sonar-wave {
    -webkit-animation: sonarpulse 1.5s linear infinite;
    animation: sonarpulse 1.5s linear infinite;
}

.sonar-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: #fff;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}

.videos-page__entry-element {
    float: right;
    width: 236px;
    height: 145px;
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}
.article-header {
    border-radius: 3px;
    overflow: hidden;
}
.videos-page__entry-element .article-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
    background-color: #000;
}
div.article-image {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 61.5%;
    background-color: #efefef;
    background-size: 53%;
    border-radius: 3px;
}
.article-image {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 61.5%;
    background-color: #efefef;
    background-size: 53%;
    border-radius: 3px;
}
div.article-image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
}
.article-image img {
    opacity: .5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 3px;
}
.video-img__play-btn-medium {
    position: absolute!important;
    width: 35px!important;
    height: 35px!important;
    left: -webkit-calc(50% - 35px/2)!important;
    left: calc(50% - 35px/2)!important;
    top: -webkit-calc(50% - 35px/2)!important;
    top: calc(50% - 35px/2)!important;
    z-index: 100;
    border-radius: 50%!important;
    box-shadow: 3px 2px 20px #000;
    opacity: .5;
    -webkit-transition: opacity .35s linear;
    transition: opacity .35s linear;
}
.videos-page__entry-element:hover .video-img__play-btn-medium{
    opacity: 1;
}
.videos-page__entry-element:hover .article-content  {
    top: 80px;
}
.videos-page__entry-element .article-content {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    -webkit-transition: padding-bottom .35s ease;
    transition: padding-bottom .35s ease;
}
.videos-page__entry-element .article-heading a {
    display: block;
    overflow: hidden;
    line-height: 20px;
    max-height: 40px;
    color: #fff;
}

@-webkit-keyframes live {
    0% {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    opacity:.4
    }
    24% {
    -webkit-transform:scale(1.7);
    transform:scale(1.7);
    opacity:.6
    }
    50% {
    -webkit-transform:scale(2.1);
    transform:scale(2.1);
    opacity:0
    }
    75% {
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:0
    }
    100% {
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:.1
    }
}
@keyframes live {
    0% {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
    opacity:.4
    }
    24% {
    -webkit-transform:scale(1.7);
    transform:scale(1.7);
    opacity:.6
    }
    50% {
    -webkit-transform:scale(2.1);
    transform:scale(2.1);
    opacity:0
    }
    75% {
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:0
    }
    100% {
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:.1
    }
}
@keyframes blink {
    0% {
    opacity:0
    }
    50% {
    opacity:.5
    }
    100% {
    opacity:1
    }
}